<!DOCTYPE html>
<html>
  <head>
    <title>DragonRoll</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      window.logo = "<%= image_url('logo.png') %>";
      window.login = "<%= image_url('login.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
